DFDL/src/nfsv4Reply.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
RFC7530 - NFSv4 reply structure

Author: J Peter Brady

DFDL implementation of NFSv4 based on RFC 7530. Element names have been
used that mimic the ones used in the specification.
-->

<!--
Copyright 2024 J. Peter Brady

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
 -->

<xs:schema
  targetNamespace="urn:nfsv4Reply"
  xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:dfdlx="http://www.ogf.org/dfdl/dfdl-1.0/extensions"
  xmlns:net="urn:network/format"
  xmlns:v4r="urn:nfsv4Reply"
  xmlns:v4c="urn:nfsv4Common"
  xmlns:xdr="urn:xdr"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Network-byte-order binary format -->

  <xs:import namespace="urn:network/format" schemaLocation="network/format.dfdl.xsd"/>

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="net:format"/>
    </xs:appinfo>
  </xs:annotation>

  <!-- XDR: External Data Representation -->

  <xs:import namespace="urn:xdr" schemaLocation="xdr.dfdl.xsd"/>
  <xs:import namespace="urn:nfsv4Common" schemaLocation="nfsv4Common.dfdl.xsd"/>

  <xs:complexType name="nfsv4reply">
    <xs:sequence>
      <xs:element name="status" type="xdr:unsignedInt" />
      <xs:element name="tag" type="xdr:opaque" />
      <xs:element name="numargs" type="xdr:unsignedInt" />
      <!-- Not in spec what the max number of commands is. I've set it to 16. /> -->
      <xs:element name="nfscmd" type="v4r:v4reply_ops" minOccurs="0" maxOccurs="16" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../numargs }" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="v4reply_ops">
    <xs:sequence>
      <xs:element name="opcode" type="xdr:unsignedInt" />
      <xs:element name="status" type="xdr:unsignedInt" />

      <xs:element name="op_dispatch">
        <xs:complexType>
          <xs:choice dfdl:choiceDispatchKey="{ xs:string(../opcode) }">
            <xs:element name="access"       type="v4r:access"       dfdl:choiceBranchKey="3" />
            <xs:element name="close"        type="v4r:close"        dfdl:choiceBranchKey="4" />
            <!--
            <xs:element name="commit"       type="v4r:commit"       dfdl:choiceBranchKey="5" />
            <xs:element name="create"       type="v4r:create"       dfdl:choiceBranchKey="6" />
            <xs:element name="delegpurge"   type="v4r:delegpurge"   dfdl:choiceBranchKey="7" />
            <xs:element name="delegreturn"  type="v4r:delegreturn"  dfdl:choiceBranchKey="8" />
            -->
            <xs:element name="getattr"      type="v4r:getattr"      dfdl:choiceBranchKey="9" />
            <xs:element name="getfh"        type="v4r:getfh"        dfdl:choiceBranchKey="10" />
            <!--
            <xs:element name="link"         type="v4r:link"         dfdl:choiceBranchKey="11" />
            <xs:element name="lockt"        type="v4r:lockt"        dfdl:choiceBranchKey="12" />
            <xs:element name="locku"        type="v4r:locku"        dfdl:choiceBranchKey="13" />
            <xs:element name="lock"         type="v4r:lock"         dfdl:choiceBranchKey="14" />
            -->
            <xs:element name="lookup"       type="v4r:lookup"       dfdl:choiceBranchKey="15" />
            <!--
            <xs:element name="lookupp"      type="v4r:lookupp"      dfdl:choiceBranchKey="16" />
            <xs:element name="nverify"      type="v4r:nverify"      dfdl:choiceBranchKey="17" />
            -->
            <xs:element name="open"         type="v4r:open"         dfdl:choiceBranchKey="18" />
            <!--
            <xs:element name="openattr"     type="v4r:openattr"     dfdl:choiceBranchKey="19" />
            <xs:element name="open_confirm" type="v4r:open_confirm" dfdl:choiceBranchKey="20" />
            <xs:element name="open_downgrade" type="v4r:open_downgrade" dfdl:choiceBranchKey="21" />
          -->
            <xs:element name="putfh"        type="v4r:putfh"        dfdl:choiceBranchKey="22" />
            <xs:element name="putpubfh"     type="v4r:putpubfh"     dfdl:choiceBranchKey="23" />
            <xs:element name="putrootfh"    type="v4r:putrootfh"    dfdl:choiceBranchKey="24" />
            <xs:element name="read"         type="v4r:read"         dfdl:choiceBranchKey="25" />
            <xs:element name="readdir"      type="v4r:readdir"      dfdl:choiceBranchKey="26" />
            <!--
            <xs:element name="readlink"     type="v4r:readlink"     dfdl:choiceBranchKey="27" />
            <xs:element name="remove"       type="v4r:remove"       dfdl:choiceBranchKey="28" />
            <xs:element name="rename"       type="v4r:rename"       dfdl:choiceBranchKey="29" />
            <xs:element name="renew"        type="v4r:renew"        dfdl:choiceBranchKey="30" />
            <xs:element name="restorefh"    type="v4r:restorefh"    dfdl:choiceBranchKey="31" />
            <xs:element name="savefh"       type="v4r:savefh"       dfdl:choiceBranchKey="32" />
            <xs:element name="secinfo"      type="v4r:secinfo"      dfdl:choiceBranchKey="33" />
            <xs:element name="setattr"      type="v4r:setattr"      dfdl:choiceBranchKey="34" />
            <xs:element name="setclientid"  type="v4r:setclientid"  dfdl:choiceBranchKey="35" />
            <xs:element name="setclientid_confirm" type="v4r:setclientid_confirm" dfdl:choiceBranchKey="36" />
            <xs:element name="verify"       type="v4r:verify"       dfdl:choiceBranchKey="37" />
            -->
            <xs:element name="write"        type="v4r:write"        dfdl:choiceBranchKey="38" />
            <!--
            <xs:element name="release_lockowner" type="v4r:release_lockowner" dfdl:choiceBranchKey="39" />
            -->
            <!-- NFS v4.1 command additions -->
            <!--
            <xs:element name="backchannel_ctl" type="v4r:backchannel_ctl" dfdl:choiceBranchKey="40" />
            <xs:element name="bind_conn_to_session" type="v4r:bind_conn_to_session" dfdl:choiceBranchKey="41" />
          -->
            <xs:element name="exchange_id"  type="v4r:exchange_id"  dfdl:choiceBranchKey="42" />
            <xs:element name="create_session" type="v4r:create_session" dfdl:choiceBranchKey="43" />
            <xs:element name="destroy_session" type="v4r:destroy_session" dfdl:choiceBranchKey="44" />
            <!--
            <xs:element name="free_stateid"  type="v4r:free_stateid" dfdl:choiceBranchKey="45" />
            <xs:element name="get_dir_delegation" type="v4r:get_dir_delegation" dfdl:choiceBranchKey="46" />
            <xs:element name="getdeviceinfo" type="v4r:getdeviceinfo" dfdl:choiceBranchKey="47" />
            <xs:element name="getdevicelist" type="v4r:getdevicelist" dfdl:choiceBranchKey="48" />
            <xs:element name="layoutcommit"  type="v4r:layoutcommit"  dfdl:choiceBranchKey="49" />
            <xs:element name="layoutget"     type="v4r:layoutget"    dfdl:choiceBranchKey="50" />
          -->
            <xs:element name="layoutreturn"  type="v4r:layoutreturn" dfdl:choiceBranchKey="51" />
            <xs:element name="secinfo_no_name" type="v4r:secinfo_no_name" dfdl:choiceBranchKey="52" />
            <xs:element name="sequence"      type="v4r:sequence"     dfdl:choiceBranchKey="53" />
            <!--
            <xs:element name="set_ssv"       type="v4r:set_ssv"      dfdl:choiceBranchKey="54" />
            <xs:element name="test_stateid"  type="v4r:test_stateid" dfdl:choiceBranchKey="55" />
            <xs:element name="want_delegation" type="v4r:want_delegation" dfdl:choiceBranchKey="56" />
          -->
            <xs:element name="destroy_clientid" type="v4r:destroy_clientid" dfdl:choiceBranchKey="57" />
            <xs:element name="reclaim_complete" type="v4r:reclaim_complete" dfdl:choiceBranchKey="58" />

            <!-- NFS v4.2 command additions -->
            <!--
            <xs:element name="allocate"     type="v4r:allocate"     dfdl:choiceBranchKey="59" />
            <xs:element name="copy"         type="v4r:copy"         dfdl:choiceBranchKey="60" />
            <xs:element name="copy_notify"  type="v4r:copy_notify"  dfdl:choiceBranchKey="61" />
            <xs:element name="deallocate"   type="v4r:deallocate"   dfdl:choiceBranchKey="62" />
            <xs:element name="io_advise"    type="v4r:io_advise"    dfdl:choiceBranchKey="63" />
            <xs:element name="layouterror"  type="v4r:layouterror"  dfdl:choiceBranchKey="64" />
            <xs:element name="layoutstats"  type="v4r:layoutstats"  dfdl:choiceBranchKey="65" />
            <xs:element name="offload_cancel" type="v4r:offload_cancel" dfdl:choiceBranchKey="66" />
            <xs:element name="offload_status" type="v4r:offload_status" dfdl:choiceBranchKey="67" />
            <xs:element name="read_plus"    type="v4r:read_plus"    dfdl:choiceBranchKey="68" />
            <xs:element name="seek"         type="v4r:seek"         dfdl:choiceBranchKey="69" />
            <xs:element name="write_same"   type="v4r:write_same"   dfdl:choiceBranchKey="70" />
            <xs:element name="clone"        type="v4r:clone"        dfdl:choiceBranchKey="71" />
            <xs:element name="illegal"      type="v4r:illegal"      dfdl:choiceBranchKey="10044" />
            -->
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Op 3: ACCESS - Check Access Rights -->

  <xs:complexType name="access">
    <xs:sequence>
      <xs:element name="supported" type="xdr:unsignedInt" />
      <xs:element name="access" type="xdr:unsignedInt" />
    </xs:sequence>
  </xs:complexType>

  <!-- Op 4: CLOSE - Close FIle -->

  <xs:complexType name="close">
    <xs:sequence>
      <xs:element name="open_stateid" type="v4c:stateid4" />
    </xs:sequence>
  </xs:complexType>

  <!-- Op 9: GETATTR - Get Attributes -->

  <xs:complexType name="getattr">
    <xs:sequence>
      <xs:element name="obj_attributes" type="v4c:fattr4" />
    </xs:sequence>
  </xs:complexType>

  <!-- Op 10: GETFH - Get Current Filehandle -->

  <xs:complexType name="getfh">
    <xs:sequence>
      <xs:element name="nfs_fh4" type="xdr:opaque" />
    </xs:sequence>
  </xs:complexType>

  <!-- Op 15: LOOKUP - Lookup Filename -->

  <xs:complexType name="lookup">
    <xs:sequence/>
  </xs:complexType>

  <!-- Op 18: OPEN - Open a Regular File -->

  <xs:complexType name="open">
    <xs:sequence>
      <xs:element name="resok4" type="v4c:open4resok" />
    </xs:sequence>
  </xs:complexType>

  <!-- Op 22: PUTFH - Set Current Filehandle -->

  <xs:complexType name="putfh">
    <xs:sequence/>
  </xs:complexType>

  <!-- Op 23: PUTPUBFH - Set Public Filehandle -->

  <xs:complexType name="putpubfh">
    <xs:sequence/>
  </xs:complexType>

  <!-- Op 24: PUTROOTFH - Set Root Filehandle -->
  <!-- Has no output variables -->

  <xs:complexType name="putrootfh">
    <xs:sequence/>
  </xs:complexType>

  <!-- Op 25: READ - Read from File -->

  <xs:complexType name="read">
    <xs:sequence>
      <xs:element name="eof" type="xdr:unsignedInt" />
      <xs:element name="data" type="xdr:opaque" />
    </xs:sequence>
  </xs:complexType>

  <!-- Op 26: READDIR - Read Directory -->

  <xs:complexType name="readdir">
    <xs:sequence/>
  </xs:complexType>

  <!-- Op 38: WRITE - Write to File -->

  <xs:complexType name="write">
    <xs:sequence>
      <xs:element name="count" type="v4c:count4" />
      <xs:element name="committed" type="v4c:stable_how4" />
      <xs:element name="writeverf" type="v4c:verifier4" />
    </xs:sequence>
  </xs:complexType>

  <!-- Op 42: EXCHANGE_ID - Instantiate Client ID -->

  <xs:complexType name="exchange_id">
    <xs:sequence>
      <xs:element name="eir_clientid" type="v4c:clientid4" />
      <xs:element name="eir_sequenceid" type="v4c:sequenceid4" />
      <xs:element name="eir_flags" type="xdr:unsignedInt" />
      <xs:element name="eir_state_protect" type="v4c:state_protect4_a" />
      <xs:element name="eir_server_owner" type="v4c:server_owner4" />
      <xs:element name="eir_server_scope" type="xdr:opaque" />
      <xs:element name="eir_server_impl_id" type="v4c:nfs_impl_id4" />
    </xs:sequence>
  </xs:complexType>

  <!-- Op 43: CREATE_SESSION - Create New Session and Confirm Client ID -->

  <xs:complexType name="create_session">
    <xs:sequence>
      <xs:element name="csr_sessionid" type="v4c:sessionid4" />
      <xs:element name="csr_sequence" type="v4c:sequenceid4" />
      <xs:element name="csr_flags" type="xdr:unsignedInt" />
      <xs:element name="csr_fore_chan_attrs" type="v4c:channel_attrs4" />
      <xs:element name="csr_back_chan_attrs" type="v4c:channel_attrs4" />
    </xs:sequence>
  </xs:complexType>

  <!-- Op 44: DESTROY_SESSION - Destroy a Session -->

  <xs:complexType name="destroy_session">
    <xs:sequence/>
  </xs:complexType>

  <!-- Op 51: LAYOUTRETURN - Release Layout Info -->

  <xs:complexType name="layoutreturn">
    <xs:sequence>
      <xs:element name="state_present" type="xdr:unsignedInt" />
      <xs:element name="dispatch">
        <xs:complexType>
          <xs:choice dfdl:choiceDispatchKey="{ xs:string(../state_present) }">
            <xs:element name = "null"        type="xdr:void"     dfdl:choiceBranchKey="0" />
            <xs:element name = "lrs_stateid" type="v4c:stateid4" dfdl:choiceBranchKey="1" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Op 52: SECINFO_NO_NAME - Get Security on Unnamed Object -->

  <xs:complexType name="secinfo_no_name">
    <xs:sequence>
        <xs:element name="flavor_num" type="xdr:unsignedInt" />
      <xs:element name="sec_type" type="v4r:secinfo4_switch" minOccurs="0" maxOccurs="16" dfdl:occursCountKind="expression" dfdl:occursCount="{../flavor_num}" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="secinfo4_switch">
    <xs:sequence>
      <xs:element name="flavor" type="xdr:unsignedInt" />
      <xs:element name="dispatch">
        <xs:complexType>
          <xs:choice dfdl:choiceDispatchKey="{ xs:string(../flavor) }">
            <xs:element name="branch0"  type="xdr:void"            dfdl:choiceBranchKey="0" />
            <xs:element name="branch1"  type="xdr:void"            dfdl:choiceBranchKey="1" />
            <xs:element name="gss_info" type="v4c:rpcsec_gss_info" dfdl:choiceBranchKey="6" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Op 53: SEQUENCE - Supply Per-Procedure Sequencing and Control -->

  <xs:complexType name="sequence">
    <xs:sequence>
      <xs:element name="sr_sessionid" type="v4c:sessionid4" />
      <xs:element name="sr_sequenceid" type="v4c:sequenceid4" />
      <xs:element name="sr_slotid" type="xdr:unsignedInt" />          <!-- slotid4 -->
      <xs:element name="sr_highest_slotid" type="xdr:unsignedInt" />  <!-- slotid4 -->
      <xs:element name="sr_target_highest_slotid" type="xdr:unsignedInt" />  <!-- slotid4 -->
      <xs:element name="sr_status_flags" type="xdr:unsignedInt" />
    </xs:sequence>
  </xs:complexType>

  <!-- Op 57: DESTROY_CLIENTID - Destroy a Client ID -->

  <xs:complexType name="destroy_clientid">
    <xs:sequence/>
  </xs:complexType>

  <!-- Op 58: RECLAIM_COMPLETE - Indicates Reclaims Finished -->
  <!-- The only thing returned is the status which was taken care of above -->

  <xs:complexType name="reclaim_complete">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
